{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "describe": true,
    "expect": true,
    "it": true,
    "jest": true,
    "beforeEach": true
  },
  "rules": {
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "import/no-named-as-default": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-return-assign": 0,
    "no-unused-vars": 1,
    "object-curly-spacing": 1,
    "react/no-unused-prop-types": 1,
    "max-len": 1,
    "comma-dangle": 1,
    "space-in-parens": 1,
    "react/prefer-stateless-function": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-useless-constructor": 1,
    "import/first": 1,
    "prefer-rest-params": 1,
    "arrow-parens": 1,
    "semi": 1,
    "no-extra-semi": 1,
    "no-trailing-spaces": 1,
    "jsx-quotes": 1,
    "object-shorthand": 1,
    "react/prop-types": 1,
    "padded-blocks": 1,
    "prefer-const": 1,
    "react/jsx-boolean-value": 1,
    "import/no-duplicates": 1,
    "indent": 1,
    "space-before-function-paren": 1,
    "prefer-arrow-callback": 1,
    "react/sort-comp": 1,
    "class-methods-use-this": 1,
    "no-multiple-empty-lines": 1,
    "spaced-comment": 1,
    "import/prefer-default-export": 1,
    "import/no-extraneous-dependencies": 1,
    "no-use-before-define": 1
  }
}